<%= form_for @brewer do |f| %>
  <%= f.error_messages %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="form-group">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="form-group">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div><%= f.submit 'Submit', class: 'btn btn-primary btn-lg'%></div>
<% end %>